.comment {
    padding: 0 0 20px 20px;
    display: flex;

    &s {
        &-container {
            background-color: #1c1c1c;
        }
    }

    &__photo {
        max-width: 50px;
        max-height: 50px;
    }

    &__content {
        margin-left: 10px;
        padding: 15px 0 0 10px;
        border-left: 1px solid grey;

        &__title,
        &__text {
            color: white;
        }

        &__title {
            font-weight: 700;
            font-size: 20px;
        }

        &__text {
            padding-top: 5px;
            font-size: 16px;
        }

        &__statistics {
            display: flex;
            gap: 10px;
            align-items: center;
            padding-top: 10px;

            &__wrapper--up,
            &__wrapper--down {
                display: flex;
                align-items: center;

                svg {
                    color: white;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    transition: color 0.2s ease-in-out,
                        transform 0.2s ease-in-out;
                }
            }

            &__wrapper--up {
                svg {
                    &:hover {
                        color: #4cbb17;
                        transform: scale(1.3);
                    }
                }
            }

            &__wrapper--down {
                svg {
                    &:hover {
                        color: #d22b2b;
                        transform: scale(1.3);
                    }
                }
            }

            &__count {
                color: white;
                padding-top: 5px;
                padding-left: 5px;
            }
        }
    }
}

.green--comment {
    svg {
        color: #4cbb17;
    }
}

.red--comment {
    svg {
        color: #d22b2b;
    }
}

.green,
.red {
    &--comment {
        svg {
            &:hover {
                color: white;
            }
        }
    }
}
